<div class="search-filtered">
    {% if search_result.hits|length > 0 %}
        {% include 'partials/global/map/leaflet.html.twig' %}
    {% endif %}
    {% include 'partials/global/map/overlay.html.twig' %}
    {% include 'partials/search/result/result.html.twig' %}
</div>
